<a href="https://colab.research.google.com/github/Praveen8824/Flower-Species-Classification/blob/main/Flower_Species_Classification_Praveen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as  pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [ ]:
df= pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data',header =None)

In [ ]:
df.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [ ]:
# https://miro.medium.com/max/1000/1*nfK3vGZkTa4GrO7yWpcS-Q.png

5. Number of Instances: 150 (50 in each of three classes)

6. Number of Attributes: 4 numeric, predictive attributes and the class

7. Attribute Information:
   1. sepal length in cm
   2. sepal width in cm
   3. petal length in cm
   4. petal width in cm
   5. class:
      -- Iris Setosa
      -- Iris Versicolour
      -- Iris Virginica

8. Missing Attribute Values: None

In [ ]:
# apply column name on data set
col = ['sepal length','sepal width', 'petal length','petal width','class']

In [ ]:
df.columns =col

In [ ]:
df.head()

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [ ]:
# perform EDA
# train test split
# select any / ALL classification algo ( Logistic regression , KNN , SVM)
# evaluate model (confusion matrix , accuracy score , precision , recall ,f1 score)
# tune the model
# 1 hour

In [ ]:
df['class'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: class, dtype: int64

In [ ]:
# Label Encoder

In [ ]:
fruits= ['Apple',
         'apple',
         'Banana',
         'Cherry',
         'Orange',
         'Coconut']

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le = LabelEncoder()

In [ ]:
new_fruits = le.fit_transform(fruits)

In [ ]:
new_fruits

array([0, 5, 1, 2, 4, 3])

In [ ]:
df['class'] = le.fit_transform(df['class'])

In [ ]:
df.head()

   sepal length  sepal width  petal length  petal width  class
0           5.1          3.5           1.4          0.2      0
1           4.9          3.0           1.4          0.2      0
2           4.7          3.2           1.3          0.2      0
3           4.6          3.1           1.5          0.2      0
4           5.0          3.6           1.4          0.2      0

In [ ]:
df['class'].value_counts()

0    50
1    50
2    50
Name: class, dtype: int64

In [ ]:
x = df.iloc[:,0:4]
y= df.iloc[:,4:]

In [ ]:
x.head()

   sepal length  sepal width  petal length  petal width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [ ]:
y.head()

   class
0      0
1      0
2      0
3      0
4      0

In [ ]:
# train test split
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(x, y, test_size=0.4,random_state=56)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
# https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html
model = DecisionTreeClassifier()
model = model.fit(x_train,y_train)
pred = model.predict(x_test)

* from sklearn.tree import DecisionTreeClassifier
* classifier = DecisionTreeClassifier()
* classifier = classifier.fit(X_train,y_train)
* y_pred = classifier.predict(X_test)

In [ ]:
# tune hyper parameter
# max_depth=2 or 5

In [ ]:
# EDA
# perform Label Encoder on class column
# traintest split
# select  classification algo ( decision tree)
# evaluate model (confusion matrix , accuracy score , precision , recall ,f1 score)
# tune the model
# 1 hour

In [ ]:
from sklearn.metrics import confusion_matrix, precision_score, recall_score, f1_score, accuracy_score

In [ ]:
print('Accuracy of Model :' , accuracy_score(y_test,pred))

Accuracy of Model : 0.9166666666666666

In [ ]:
confusion_matrix(y_test,pred)

array([[20,  0,  0],
       [ 0, 15,  4],
       [ 0,  1, 20]])